/* styles.css */
@font-face {
    font-family: 'KritikBlack';
    src: url('fonts/Kritik-Black-6egwcp.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplayBold';
    src: url('fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplayLight';
    src: url('fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    background: #e9eef1;
    cursor: url('img/spaghetti.png'), auto; /* De hotspot staat hier op (16, 16) */
    margin: 0;
}

p {
    font-family: 'HelveticaNowDisplayLight', Arial, sans-serif;
    color: #232323;
    letter-spacing: -0.010em; /* Kerning van -10 */
    line-height: 1.2; /* Leading van 120% */
    font-size: 1.2rem;
}

.custom-cursor {
    cursor: url('img/spaghetti.png'), auto; /* Zorg ervoor dat het pad naar de afbeelding klopt */
}

h1 {
    font-family: 'KritikBlack', Arial, sans-serif;
    color: #f05027;
    letter-spacing: -0.025em; /* Kerning van -25 */
    line-height: 0.9; /* Leading van 90% */
    font-size: 2rem;
}

.who p {
    font-family: 'HelveticaNowDisplayLight', Arial, sans-serif;
    color: #e9eef1;
    letter-spacing: -0.010em; /* Kerning van -10 */
    line-height: 1.2; /* Leading van 120% */
    font-size: 1.5rem;
}

.team {
    font-family: 'KritikBlack', Arial, sans-serif;
    color: #e5f78d;
    margin-top: -60px;
    margin-bottom: 20px;
    padding: 0;
    letter-spacing: -0.025em; /* Kerning van -25 */
    line-height: 0.9; /* Leading van 90% */
}

.container {
    margin: 20px auto;
    max-width: 1000px;
}


.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card {
    /* background-color: #e9eef1; */
    /* border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    padding: 20px;
    padding-bottom: 20px;
    /* width: 200px; */
    text-align: center;
    transition: transform 0.3s ease; /* Voegt een soepele overgang toe */
}

.user-card:hover {
    transform: scale(1.05); /* Vergroot de kaart met 5% bij hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Vergroot de schaduw voor een diepte-effect */
}


.user-card img {
    border-radius: 7px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.user-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    font-family: 'KritikBlack', Arial, sans-serif;
    color: #f05027;
    text-decoration: underline;
    letter-spacing: -0.025em; 
    line-height: 1.2;
}

.user-card a {
  font-size: 32px;
}

.user-card p {
    color: #232323;
    font-size: 0.9em;
    font-family: 'HelveticaNowDisplayLight', Arial, sans-serif;
    letter-spacing: -0.010em; 
    line-height: 1.2; 
    margin-bottom: 10px;
}

nav  {
   background: #f05027;
   /* width: 100vw; */
}

.who{
   /* padding: 40px 180px; */
   width: 750px;
   position: relative;
   top:20px;
}

.logo img{
   width: 450px;
   position: relative;
   bottom:20px;
}

.grouppicture img{
   width: 360px;
   border-radius: 7px;
}

.whoGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px 40px 180px;
}

/* Hide horizontal scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #e729bd;
    border-radius: 10px;
    width: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e729bd;
  }
  
  /* Hide scrollbar for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #e729bd transparent;
  }
  
  /* Optional: Customize scrollbar track */
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Optional: Customize scrollbar thumb */
  *::-webkit-scrollbar-thumb {
    background-color: #e729bd;
    border-radius: 10px;
  }
  
  /* Optional: Hover effect for scrollbar thumb */
  *::-webkit-scrollbar-thumb:hover {
    background-color: #e729bd;
  }


  
 @media (max-width: 1000px) {
    .whoGroup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 40px 20px;
    }

    .who{
        width: 100%;
    }

    .logo img {
        width: 450px; /* Houd de originele grootte van het logo */
        display: block; /* Zorg ervoor dat het logo als blokelement wordt weergegeven */
        margin: 0 auto; /* Centreer het logo horizontaal */
        position: static; /* Verwijder de relatieve positionering */
    }

    .grouppicture img {
        width: 70%;
        display: block; /* Zorg ervoor dat het element als blok wordt weergegeven */
        margin: 20px auto; /* Centreer het horizontaal */
    }
    
}

@media (min-width: 1000px) {
   .grouppicture img {
        margin-left: 20px;
    }
}